<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/create">Create User</a>
    </div>

    <div class="form_add_new">
      <!-- Sau khi submit sẽ chuyển đến route, mặc định method get, chỉnh thành post -->
      <form action="/create_user" method="post"> 
      <fieldset>
        <legend>Add new User</legend>
      
        <div class="input_group">
          <label>Email: </label>
          <!-- sử dụng thuộc tính name cho ô input để json hóa -->
          <input type="text" name="email" />  
        </div>
        <div class="input_group">
          <label>Name: </label>
          <input type="text" name="name" />
        </div>
        <div class="input_group">
          <label>City: </label>
          <input type="text" name="city" />
        </div>
        <div>
          <button> Save </button>
        </div>
      </fieldset>
      </form>
    </div>
</body>
</html>